<%- include('../includes/head.ejs') %>
<%- include('../includes/navbar.ejs') %>
<h1>El ganador será: <%= ganador %></h1>
<% if (ganadores.length > 0) { %>
    <div class="collection">
        <% for (let g of ganadores) { %>
            <a href="#!" class="collection-item"><%= g %></a>
        <% } %>
        </div>
<% } else { %>
    <h2>No ha adivinanzas previas</h2>
<% } %>  
<%- include('../includes/foot.ejs') %>
        
